html{
    scroll-behavior: smooth; /*velocidad de transición*/
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    /*background-image: url(img/fondo.gif); Como es seleccionando la clase*/
    background-image: 
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed;
    color: #ffffff;
}

header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#CABECERA {
    height: 80px;
    background-color: #663300;
    position: sticky;
    top: 0;
}

#DISCOGRAFIA {
    width: 160px;
    height: 80px;
    float: left;
}

h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
    line-height: 56px; /*alinear segun altura de la caja*/
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.img_alto {
    width: 100%;
}

#BTN_PRINCIPAL {
    width: 800px;
    height: 80px;
    float: right;
}

#CLAROSCURO {
    height: 36px;
    background-color: #663300;
}

#MODO {
    width: 960px;
    float: right;    
}

#BTN_SOLUCIONES {
    height: 60px;
}

#BTN_PRINCIPAL ul, #BOOTSTRAP ul, #BTN_SOLUCIONES ul, #CONTACTO ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#MODO ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: right;
}

#BTN_PRINCIPAL ul li, #MODO ul li, #BTN_SOLUCIONES ul li {
    display: inline; /*los pone en linea*/
}

#BTN_PRINCIPAL ul li a {
    display: inline-block; /*los transforma en linea de bloques*/
    padding: 0px 10px; /*arriba-abajo... izq-der*/
    color: #ffffff;
    font-weight: bold; 
    text-decoration: none; /*sin subrayado link*/
    text-align: center;
    line-height: 80px;
    transition: all 0.5s ease;
}

#MODO ul li a {
    display: inline-block; /*los transforma en linea de bloques*/
    padding: 0px 10px;
}

#BOOTSTRAP ul li a {
    display: inline-block;
    text-decoration: none; /*sin subrayado link*/
    color: #ffffff;
    padding: 5px 20px;
    background-color: #663300;
    transition: all 0.5s ease; /*demora de transicion*/
}

#BTN_SOLUCIONES ul li a {
    display: inline-block; /*los transforma en linea de bloques*/
    padding: 0px 10px; /*arriba-abajo... izq-der*/
    color: #ffffff;
    font-weight: bold; 
    text-decoration: none; /*sin subrayado link*/
    text-align: center;
    line-height: 60px;
    transition: all 0.5s ease; /*demora de transicion*/
}

#BOOTSTRAP ul li a:hover{
    background-color: #4d2600; /*cambia de color al posicionar el mouse*/
    border-radius: 15px; /*Hacer notorio*/
    padding: 3px 18px;   /*la transicion*/
}

#BTN_PRINCIPAL ul li a:hover, #MODO ul li a:hover, #BTN_SOLUCIONES ul li a:hover {
    background-color: #4d2600; /*cambia de color al posicionar el mouse*/
    border-radius: 15px; /*Hacer notorio*/
    padding: 0px 10px;   /*la transicion*/
}

#GUSTAVO_CERATI {
    height: 640px;
    background-image: url(img/inicio1.jpg);
    background-size: cover; /*aplica para cubrir espacio*/
}

#FRASE{
    width: 250px;
    height: 250px;
    padding: 10px;
    float: left;
    margin-top: 330px;
    margin-left: 3px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

#AMOR_AMARILLO {
    height: 887px;
    background-color: #ffcc80;
}

#AMOR_AMARILLO_IMAGEN {
    height: 427px;
    width: 680px;
    background-color: #ffff80;
    float: left;
}

#AMOR_AMARILLO_TEMAS {
    height: 427px;
    width: 270px;
    background-color: #e6e600;
    float: right;
    padding: 5px;
}

#AMOR_AMARILLO_TEXTO{
    height: 440px;
    width: 950px;
    background-color: #e68a00;
    padding: 5px;
    clear: both;
}

#BOCANADA {
    height: 781px;
    background-color: #8080ff;
}

#BOCANADA_IMAGEN {
    height: 400px;
    width: 626px;
    background-color: #e6e6ff;
    float: right;
}

#BOCANADA_TEMAS {
    height: 400px;
    width: 334px;
    background-color: #0000ff;
    float: left;
}

#BOCANADA_TEXTO{
    height: 370px;
    width: 950px;
    background-color: #0000b3;
    padding: 5px;
    clear: both;
}

#SIEMPRE_ES_HOY {
    height: 780px;
    background-color: #ff8080;
}

#SIEMPRE_ES_HOY_IMAGEN {
    height: 400px;
    width: 602px;
    background-color: #ffe6e6;
    float: left;
}

#SIEMPRE_ES_HOY_TEMAS {
    height: 400px;
    width: 358px;
    background-color: #ff0000;
    float: right;
}

#SIEMPRE_ES_HOY_TEXTO{
    height: 370px;
    width: 950px;
    background-color: #990000;
    padding: 5px;
    clear: both;
}

#AHI_VAMOS {
    height: 1133px;
    background-color: #bfbfbf;
}

#AHI_VAMOS_IMAGEN {
    height: 463px;
    width: 710px;
    background-color: #808080;
    float: right;
}

#AHI_VAMOS_TEMAS {
    height: 463px;
    width: 250px;
    background-color: #262626;
    float: left;
}

#AHI_VAMOS_TEXTO{
    height: 660px;
    width: 950px;
    background-color: #000000;
    padding: 5px;
    clear: both;
}

#FUERZA_NATURAL {
    height: 1017px;
    background-color: #80ff80;
}

#FUERZA_NATURAL_IMAGEN {
    height: 507px;
    width: 760px;
    background-color: #00ff00;
    float: left;
}

#FUERZA_NATURAL_TEMAS {
    height: 507px;
    width: 200px;
    background-color: #008000;
    float: right;
}

#FUERZA_NATURAL_TEMAS p {
    margin-top: 2px;
    font-weight: bold;
}

#FUERZA_NATURAL_TEXTO{
    height: 500px;
    width: 950px;
    background-color: #006600;
    padding: 5px;
    clear: both;
}

#PIE_PAGINA {
    height: auto;
    background-color: #663300;
    margin-top: 0px;
    margin-bottom: -100px;
}

#CUESTIONARIO {
    padding: 5px;
    box-sizing: border-box;
}

.mal {
    color: #ff0000;
    font-weight: bold;
}

#RESPUESTA1, #RESPUESTA2, #RESPUESTA3, #RESPUESTA4, #RESPUESTA5 {
    padding: 0px 10px; /*arriba-abajo... izq-der*/
    box-sizing: border-box;
}

#CONTACTO p {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#CONTACTO ul li {
    text-align: right;
    margin-top: -48px;
    margin-right: 10px;
    padding-bottom: 5px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
    header, section, footer {
        width: 580px;
        font-size: small;
    }

    #MODO {
        width: 580px;
    }

    #CABECERA {
        height: 60px;
    }

    #DISCOGRAFIA {
        width: 120px;
        height: 60px;
    }

    h1 {
        font-size: small;
        font-weight: bold;
        text-align: center;
        line-height: 43px; /*alinear segun altura de la caja*/
    }

    #BTN_PRINCIPAL, #BTN_SOLUCIONES {
        width: 460px;
        height: 60px;
    }

    #BTN_PRINCIPAL ul li a, #BTN_SOLUCIONES ul li a {
        padding: 0px 5px; /*arriba-abajo... izq-der*/
        font-size: xx-small;
        line-height: 60px; /*alinear segun el alto de la caja*/
    }

    #BOOTSTRAP ul li a {
        padding: 0px 5px; /*arriba-abajo... izq-der*/
        font-size: xx-small;
    }
       
    #BOOTSTRAP ul li a:hover{
        padding: 3px 8px;   /*la transicion*/
    }
    
    #GUSTAVO_CERATI {
        height: 400px;
    }

    #FRASE {
        width: 150px;
        height: 180px;
        padding: 5px;
        margin-top: 195px;
        margin-left: 5px;
        font-size: x-small;
    }

    #AMOR_AMARILLO_IMAGEN {
        height: 373px;
        width: 580px;
        float: none;
    }
    
    #AMOR_AMARILLO_TEMAS {
        width: 120px;
        float: right;
        height: 507px;
    }
    
    #AMOR_AMARILLO_TEXTO{
        width: 440px;
        float: left;
        margin-top: -517px;
        height: 507px;
    }

    #BOCANADA_IMAGEN {
        height: 374px;
        width: 580px;
        float: none;
    }
    
    #BOCANADA_TEMAS {
        width: 130px;
        float: left;
        height: 406px;
    }
    
    #BOCANADA_TEXTO{
        width: 440px;
        float: right;
        margin-top: -406px;
        height: 397px;
    }

    #SIEMPRE_ES_HOY_IMAGEN {
        height: 374px;
        width: 580px;
        float: none;
    }
    
    #SIEMPRE_ES_HOY_TEMAS {
        width: 130px;
        float: right;
        height: 417px;
    }
    
    #SIEMPRE_ES_HOY_TEXTO{
        width: 440px;
        float: left;
        margin-top: -406px;
        height: 396px;
    }

    #AHI_VAMOS_IMAGEN {
        height: 389px;
        width: 580px;
        float: none;
    }
    
    #AHI_VAMOS_TEMAS {
        width: 115px;
        float: left;
        height: 743px;
    }
    
    #AHI_VAMOS_TEXTO{
        width: 455px;
        float: right;
        margin-top: -743px;
        height: 733px;
    }

    #FUERZA_NATURAL_IMAGEN {
        height: 387px;
        width: 580px;
        float: none;
    }
    
    #FUERZA_NATURAL_TEMAS {
        width: 180px;
        float: right;
        height: 630px;
    }
    
    #FUERZA_NATURAL_TEXTO{
        width: 390px;
        float: left;
        margin-top: -630px;
        height: 620px;
    }

    #CONTACTO p {
        padding-top: 0px;
    }

    #CONTACTO ul li {
        margin-top: -48px;
    }
} /* FIN @MEDIA 600px A 1023px */

@media all and (max-width: 599px) {
    header, section, footer {
        width: 95%;
        position: relative; /*no se mueve el encabezado*/
    }

    #CABECERA {
        height: auto;
        position: relative;
    }
    
    #DISCOGRAFIA, #BTN_PRINCIPAL, #AMOR_AMARILLO_IMAGEN, #BOCANADA_IMAGEN, #SIEMPRE_ES_HOY_IMAGEN, #AHI_VAMOS_IMAGEN, #FUERZA_NATURAL_IMAGEN, #BTN_SOLUCIONES {
        width: 100%;
        height: auto;
        float: none;
    }

    h1{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #BTN_PRINCIPAL ul li, #BTN_SOLUCIONES ul li{
        display: block; /*los pone en vertical*/
    }

    #BTN_PRINCIPAL ul li a, #BTN_SOLUCIONES ul li a {
        width: 100%;
        padding: 0px 0px; /*arriba-abajo... izq-der*/
    }

    #AMOR_AMARILLO, #BOCANADA, #SIEMPRE_ES_HOY, #AHI_VAMOS, #FUERZA_NATURAL {
        height: auto;
        position: relative;
        padding: 0%;
    }

    #AMOR_AMARILLO_TEMAS, #AMOR_AMARILLO_TEXTO, #BOCANADA_TEMAS, #BOCANADA_TEXTO, #SIEMPRE_ES_HOY_TEMAS, #SIEMPRE_ES_HOY_TEXTO, #AHI_VAMOS_TEMAS, #AHI_VAMOS_TEXTO, #FUERZA_NATURAL_TEMAS, #FUERZA_NATURAL_TEXTO, #CUESTIONARIO, #RESPUESTA1, #RESPUESTA2, #RESPUESTA3, #RESPUESTA4, #RESPUESTA5 {
        width: 100%;
        height: auto;
        float: none;
        margin: 0%;
        padding: 2% 2%; /*arriba-abajo... izq-der*/
        box-sizing: border-box;/*marcar el alto y el ancho*/
    }

    footer {
        height: auto;
        padding: 1% 1% 1% 1%;
        box-sizing: border-box;
    }

    #CONTACTO {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    #CONTACTO p {
        font-size: medium;
        padding: 0% 0%px;
        float: none;
        box-sizing: border-box;
    }
    
    #CONTACTO ul li {
        text-align: left;
        margin: 0% 0% 0% 3%; /*arriba-der-abajo-iz*/
        padding: 2% 0%; /*arriba-abajo... izq-der*/
        position: static;
        clear: left;
        box-sizing: border-box;
    }
    
} /* FIN @MEDIA 599px